allure-pytest==2.14.3
black==25.1.0
flake8==7.3.0
isort==6.0.1
jsonschema==4.24.0
mypy==1.16.1
pre-commit==4.2.0
PyJWT==2.10.1
pytest==8.4.1
pytest-html==4.1.1
pytest-xdist==3.8.0
python-dotenv==1.1.1
requests==2.32.4
types-jsonschema==4.24.0.20250708
types-requests==2.32.4.20250611
